[buildout]
extensions =
    buildout.dumppickedversions
    mr.developer
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = Products.remember
test-eggs = Products.remember[test]

[sources]
Products.membrane = svn https://svn.plone.org/svn/collective/Products.membrane/trunk


[instance]
# Very verbose, but can be handy when developing PAS plugins:
event-log-level = debug
eggs += plone.reload


[versions]
buildout.dumppickedversions = 0.4
Products.membrane = 2.1.2
plone.reload = 2.0
