[buildout]
extensions = buildout.dumppickedversions
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
package-name = Products.remember
find-links =
# For mechanize-0.1.2b:
    http://wwwsearch.sourceforge.net/old/mechanize/src/

[instance]
# Very verbose, but can be handy when developing PAS plugins:
event-log-level = debug

[versions]
# Note that lots of tests fail currently; actually, only two get run.
# Possibly we need some other versions.  Some, like mechanize have
# already been downgraded to a version that has a chance of working.
buildout.dumppickedversions = 0.4
Products.membrane = 1.1b5
zope.testbrowser = 3.7.0
# Very much needed for Plone 3, fails for Plone 4:
mechanize = 0.1.2b
ClientForm = 0.2.10
