[buildout]
extensions = buildout.dumppickedversions
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
package-name = Products.remember
test-eggs = Products.remember[test]
find-links =
# For mechanize-0.1.2b:
    http://wwwsearch.sourceforge.net/old/mechanize/src/

[instance]
# Very verbose, but can be handy when developing PAS plugins:
event-log-level = debug

[versions]
# Note that lots of tests fail currently.  Possibly we need some other
# versions.  Some, like mechanize have already been downgraded to a
# version that has a chance of working.
buildout.dumppickedversions = 0.4
Products.membrane = 2.1.1
collective.testcaselayer = 1.3
zope.testbrowser = 3.7.0
collective.monkeypatcher = 1.0.1
mechanize = 0.1.2b
ClientForm = 0.2.10
